#result{
  display: none;
}

body{
  //background-image: url("../bippity.gif");
  color: #ffcb0c;
  font-size: 45px;
  font-family: fantasy;
  background-color: #08324d;
}

h1{
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  border-style: solid;
  border-radius: 90%;
  padding: 40px;
}

label{
  font-size: 55px;
  text align: left;
  font-style: italic;
}
